<th-block data-th-fragment="comment"
          data-th-each="post : ${comments}"
          data-th-with="child=${#lists.isEmpty(post.comments)}">

    <div class="list-group-item list-group-item-action">

        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row justify-content-start">
                <i data-th-unless="${child}" class="bi bi-caret-right-fill" data-bs-toggle="collapse"
                   aria-expanded="false"
                   data-th-attrappend="aria-controls='comment_'+${post.getId()}, data-bs-target=${child} ? '#' : '#comment_'+${post.getId()}"></i>
                <p class="ms-3 mb-0">
                    Par <a data-th-href="@{/home/u/{username}(username = ${post.getUsername()})}" data-th-text="${post.getUsername()}"></a>
                    <span class="badge"
                          data-th-id="'post' + ${post.getId()}"
                          data-th-classappend="${post.getScore() >= 0} ? 'bg-success' : 'bg-danger'"
                          data-th-text="${post.getScore()}"></span>
                </p>
            </div>
            <small class="text-muted" data-th-text="${post.getElapsedTime()}"></small>
        </div>

        <div data-th-id="'content_'+${post.getId()}" class="mb-0 mt-1 border-top" data-th-utext="${post.content}"></div>

        <div data-th-replace="${#strings.isEmpty(#request.getRemoteUser())} ? ~{} : ~{fragments ::btn_score(${post}, true, true, ${post.getState()})}"></div>

    </div>

    <div data-th-unless="${child}"
         class="collapse list-group ps-4"
         data-th-id="'comment_'+${post.getId()}"
         data-th-insert="comment"
         data-th-with="comments=${post.comments}"></div>
</th-block>
