<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments :: metadata(~{::title},~{})}">
    <title th:text="#{page.title.comments}"></title>
</head>

<body>
    <div th:replace="~{fragments :: header}"></div>

    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">[[${post.getElapsedTime()}]] par <a th:href="@{/home/u/{username}(username = ${post.getUsername()})}" th:text="${post.getUsername()}"></a></div>
                    <div class="card-body">
                        <h5 class="card-title" th:inline="text">
                            [[${post.getTitle()}]]
                            <span data-th-id = "'post' + ${post.getId()}" class="badge" th:classappend="${post.getScore() >= 0} ? 'bg-success' : 'bg-danger'" th:text="${post.getScore()}"></span>
                        </h5>
                        <p class="card-text" th:utext="${post.getContent()}"></p>

                        <div data-th-replace="${#strings.isEmpty(#request.getRemoteUser())} ? ~{} : ~{fragments ::btn_score(${post}, true, true, true)}"></div>

                        <div class="list-group pt-3" th:insert="comment" th:with="comments=${post.getComments()}"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="comment_form_modal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <form id="comment_form" action="#" method="post" th:object="${commentContent}">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="#{form.creation.comment.title}"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                    </div>

                    <div class="modal-body">
                        <div th:replace="~{fragments :: form_textarea(#{form.creation.comment.content.label}, 'content', #{form.creation.comment.content.helper})}"></div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments :: footer}"></div>

    <script th:replace="~{fragments :: script}"></script>

    <script th:inline="javascript">
        $(function() {
            // Change l'icone lorsque l'on clic dessus
            $("i").click(function() {
                $(this).toggleClass('bi-caret-right-fill')
                    .toggleClass('bi-caret-down-fill');
            });
        });

        // mise à jour automatique de l'url du formulaire en fonction du bouton cliqué
        $("#comment_form_modal").on('show.bs.modal', function (event) {
            let btn = event.relatedTarget;
            let parentId = btn.getAttribute('data-bs-idparent');
            let subjectId = [(${post.getId()})];
            if (parentId == subjectId) {
                $("#comment_form").attr("action", "/user/s/"+subjectId+"/comment");
            } else {
                $("#comment_form").attr("action", "/user/s/"+subjectId+"/"+parentId+"/comment");
            }
        });
    </script>
</body>
</html>