<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments :: metadata(~{::title},~{})}">
    <title th:text="#{page.title.error}"></title>
</head>

<body class="container">
    <div class="row">
        <div class="col-md-12 d-flex flex-column justify-content-center align-items-center min-vh-100">
            <img data-th-src="@{/images/error.gif}" src="../static/images/error.gif" alt="Error GIF">

            <h3 class="py-3" th:text="#{page.error.text}"></h3>

            <a class="btn btn-outline-primary" th:href="@{/home}" th:text="#{page.error.btn}"></a>
        </div>

    </div>

    <script th:replace="~{fragments :: script}"></script>
</body>
</html>