<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments :: metadata(~{::title},~{})}">
    <title th:text="#{page.title.exit}"></title>
</head>

<body>
    <div class="container">
        <h1>Vous êtes sur le point de quitter le site, êtes vous sûr de vouloir vous rendre sur <b th:text="${url}"></b> ?</h1>
        <a class="btn btn-success" th:href="${url}">OUI</a>
        <a class="btn btn-danger" th:href="@{/home}">NON</a>
    </div>

    <script th:replace="~{fragments :: script}"></script>
</body>
</html>