<th:block data-th-fragment="metadata (title,links)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title data-th-replace="${title}"></title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link data-th-href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link data-th-href="@{/css/iziToast.min.css}" href="../static/css/iziToast.min.css" rel="stylesheet" type="text/css">

    <th:block data-th-replace="${links}" />
</th:block>

<th:block data-th-fragment="script">
    <script data-th-src="@{/js/bootstrap.bundle.min.js}" src="../static/js/bootstrap.bundle.min.js"></script>
    <script data-th-src="@{/js/jquery-3.6.0.js}" src="../static/js/jquery-3.6.0.js"></script>
    <script data-th-src="@{/js/iziToast.min.js}" src="../static/js/iziToast.min.js"></script>

    <script>
        function changeState(btn, classToggle, disable) {
            if (btn.prop('disabled')) {
                btn.toggleClass(classToggle);
                btn.prop("disabled", disable);
            }
        }

        function deleteComment(btn) {
            let id = btn.data('idpost');
            $.ajax({
                url: '/user/c',
                type: 'DELETE',
                async: true,
                data: {id: id},
                success: function () {
                    // on remplace le texte
                    $("#content_"+id).html("Contenu supprimé par l'auteur");
                    btn.parent().remove();
                },
                error: function (error) {
                    // notification de l'erreur
                    iziToast.show({
                        title: 'Erreur',
                        message: 'Une erreur est survenue lors du traitement de votre demande.',
                        position: 'topRight',
                        color: 'red'
                    });
                }
            });
        }

        function vote(isLike, btn) {
            let id = btn.data('idpost');
            let score = $('#post' + id);
            $.ajax({
                url: '/user/like/'+id,
                type: 'POST',
                async: true,
                data: {flag: isLike},
                success: function (newScore) {
                    // +1/-1 au score et blocage des boutons
                    if (isLike) {
                        changeState($('#btnDislike'+id), "btn-danger btn-outline-danger", false);
                        btn.toggleClass("btn-outline-primary btn-primary")
                    } else {
                        changeState($('#btnLike'+id), "btn-primary btn-outline-primary", false);
                        btn.toggleClass("btn-outline-danger btn-danger")
                    }
                    btn.prop("disabled", true);
                    $.get("/home/fragments/badge?id="+id+"&score="+newScore, function (data) {
                        score.replaceWith(data);
                    });
                },
                error: function (error) {
                    // notification de l'erreur
                    iziToast.show({
                        title: 'Erreur',
                        message: 'Une erreur est survenue lors du traitement de votre demande.',
                        position: 'topRight',
                        color: 'red'
                    });
                }
            });
        }

        $('button[id^="btnDelete"]').click(function () {
            let btn = $(this);
            deleteComment(btn);
        })

        $('button[id^="btnLike"]').click(function () {
            let btn = $(this);
            vote(true, btn);
        });

        $('button[id^="btnDislike"]').click(function () {
            let btn = $(this);
            vote(false, btn);
        });
    </script>
</th:block>

<div data-th-fragment="header" class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

        <a class="d-flex align-items-center mb-md-0 me-md-auto text-dark text-decoration-none" data-th-href="@{/home}" href="home.html">
            <img data-th-src="@{/images/icon-reddit.png}" src="../static/images/icon-reddit.png"
                 alt="Reddit icon" width="42" height="42">
            <span class="fs-4">Reddit</span>
        </a>

        <div data-th-if="${#strings.isEmpty(#request.getRemoteUser())}" class="col text-end">
            <a class="btn btn-outline-primary me-2" role="button" data-th-href="@{/login}" data-th-text="#{home.btn.connection}"></a>
            <a class="btn btn-primary" type="button" data-th-href="@{/register}" data-th-text="#{home.btn.registration}"></a>
        </div>

        <div data-th-unless="${#strings.isEmpty(#request.getRemoteUser())}" class="dropdown text-end" data-th-inline="text">
            [[#{home.user.status}]]
            <a id="userDropdown" class="dropdown-toggle fw-bold text-decoration-none link-dark" href="#"
               data-bs-toggle="dropdown" aria-expanded="false" data-th-text="${#request.getRemoteUser()}"></a>

            <ul class="dropdown-menu dropdown-menu-end" style="z-index: 1050;" aria-labelledby="userDropdown">
                <li>
                    <a class="dropdown-item"
                       data-th-href="@{/home/u/{username}(username = ${#request.getRemoteUser()})}"
                       data-th-text="#{header.btn.profile}"></a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" data-th-href="@{/logout}" data-th-text="#{header.btn.logout}"></a></li>
            </ul>
        </div>

    </header>
</div>

<!-- FRAGMENTS POUR UN FORMULAIRE -->
<label data-th-fragment="form_label (field, content)" class="form-label" data-th-for="${field}" data-th-text="${content}"></label>
<div data-th-fragment="form_helper (field, content)" class="form-text" data-th-id="'helper_'+${field}" data-th-text="${content}"></div>
<div data-th-fragment="form_input (label, field, helper)" class="mb-3">
    <th:block data-th-replace="${#strings.isEmpty(label)} ? _ : ~{:: form_label(${field}, ${label})}" />
    <input type="text"
           data-th-id="${field}"
           class="form-control form-control-lg"
           data-th-field="*{__${field}__}"
           data-th-attrappend="aria-describedby=${#strings.isEmpty(helper)} ? _ : 'helper_'+${field}" />
    <th:block data-th-replace="${#strings.isEmpty(helper)} ? _ : ~{:: form_helper(${field}, ${helper})}" />
</div>
<div data-th-fragment="form_textarea (label, field, helper)" class="mb-3">
    <th:block data-th-replace="${#strings.isEmpty(label)} ? _ : ~{:: form_label(${field}, ${label})}" />
    <textarea data-th-id="${field}"
              class="form-control"
              rows="3"
              data-th-field="*{__${field}__}"
              data-th-attrappend="aria-describedby=${#strings.isEmpty(helper)} ? _ : 'helper_'+${field}"></textarea>
    <th:block data-th-replace="${#strings.isEmpty(helper)} ? _ : ~{:: form_helper(${field}, ${helper})}" />
</div>

<th:block data-th-fragment="subject_form">
    <button type="button"
            class="position-fixed bottom-0 end-0 translate-middle btn btn-lg btn-primary rounded-circle"
            data-bs-toggle="modal"
            data-bs-target="#subject_post">
        <i class="bi bi-plus-lg"></i>
    </button>

    <div class="modal fade" id="subject_post">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <form action="#" data-th-action="@{/user/s/new}" method="post" data-th-object="${subjectAttribute}">
                    <div class="modal-header">
                        <h5 class="modal-title" data-th-text="#{form.creation.subject.title}"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                    </div>

                    <div class="modal-body">
                        <div data-th-replace="~{:: form_input(#{form.creation.subject.title.label}, 'title', #{form.creation.subject.title.helper})}"></div>
                        <div data-th-replace="~{:: form_textarea(#{form.creation.subject.content.label}, 'content', #{form.creation.subject.content.helper})}"></div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>

<footer data-th-fragment="footer" class="container py-3 my-md-5 border-top text-center">
    <div class="row">
        <div class="col">
            <img data-th-src="@{/images/icon-reddit.png}" src="../static/images/icon-reddit.png"
                 alt="Reddit icon" width="22" height="22">
            <small class="d-block mb-3 text-muted">&copy; 2022</small>
        </div>
    </div>
    <div class="row d-flex justify-content-evenly">
        <div class="col">
            <h5 data-th-text="#{footer.label.team}"></h5>
            <ul class="list-unstyled">
                <li class="text-muted">Florian CAHAY</li>
                <li class="text-muted">Kosal LUC</li>
                <li class="text-muted">Vincent LIN</li>
            </ul>
        </div>

        <div class="col">
            <h5 data-th-text="#{footer.label.language}"></h5>
            <ul class="list-unstyled">
                <li><a class="link-secondary text-decoration-none" data-th-href="${@replaceOrAddParam.apply('lang', 'fr')}" href="#">Français</a></li>
                <li><a class="link-secondary text-decoration-none" data-th-href="${@replaceOrAddParam.apply('lang', 'en')}" href="#">English</a></li>
            </ul>
        </div>
    </div>
</footer>

<span data-th-fragment="badgeScore"
      data-th-id="'post' + ${idPost}"
      class="badge"
      data-th-classappend="${isPositive} ? 'bg-success' : 'bg-danger'"
      data-th-text="${label}">
</span>

<div data-th-fragment="subject"
     data-th-each="subject : ${subjects}"
     class="row mb-3">
    <div class="col">
        <div class="card shadow">
            <div class="card-header" data-th-inline="text">[[${subject.getElapsedTime()}]] par <a data-th-href="@{/home/u/{username}(username = ${subject.getUsername()})}" data-th-text="${subject.getUsername()}"></a>
                <a data-th-unless="${#strings.isEmpty(#request.getRemoteUser()) || #authentication.getAuthorities().get(0).getAuthority() != 'ADMIN'}" class="btn btn-sm btn-outline-danger" type="button" style="float: right;" data-th-href="@{/admin/{idSubject} (idSubject = ${subject.getId()})}" href="#">
                    <i class="bi bi-x"></i>
                </a>
            </div>

            <div class="card-body">
                <h5 class="card-title">
                    <span data-th-text="${subject.getTitle()}"></span>
                    <span class="badge" data-th-id = "'post' + ${subject.getId()}" data-th-classappend="${subject.getScore() >= 0} ? 'bg-success' : 'bg-danger'" data-th-text="${subject.getScore()}"></span>
                </h5>
                <p class="card-text" data-th-utext="${subject.getContent()}"></p>

                <div class="row d-flex justify-content-between">
                    <a class="col-2 btn btn-link" data-th-href="@{/home/s/{idSubject}(idSubject = ${subject.getId()})}" href="#" data-th-inline="text">[[#{home.link.comments}]]</a>

                    <div data-th-replace="${#strings.isEmpty(#request.getRemoteUser())} ? ~{} : ~{::btn_score(${subject}, false, false, true)}"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- isActive: true si le commentaire n'a pas été encore supprimé -->
<div data-th-fragment="btn_score (post, short, reply, isActive)"
     class="col gap-2 d-md-flex justify-content-md-end"
     data-th-with="isOwner=${#request.getRemoteUser() == post.getUsername()}">

    <button data-th-if="${not isOwner AND isActive}"
            class="btn btn-sm" type="button"
            data-th-with="active=${post.alreadyVotedAndSameVote(#request.getRemoteUser(), true)}"
            data-th-id="'btnLike'+${post.id}"
            data-th-attrappend="data-idpost=${post.id}"
            data-th-disabled="${active}"
            data-th-classappend="${active} ? 'btn-primary' : 'btn-outline-primary'">
        <i class="bi bi-hand-thumbs-up"></i>
        <span data-th-unless="${short}" data-th-text="#{home.btn.like}"></span>
    </button>

    <button data-th-if="${not isOwner AND isActive}"
            class="btn btn-sm" type="button"
            data-th-with="active=${post.alreadyVotedAndSameVote(#request.getRemoteUser(), false)}"
            data-th-id="'btnDislike'+${post.id}"
            data-th-attrappend="data-idpost=${post.id}"
            data-th-disabled="${active}"
            data-th-classappend="${active} ? 'btn-danger' : 'btn-outline-danger'">
        <i class="bi bi-hand-thumbs-down"></i>
        <span data-th-unless="${short}" data-th-text="#{home.btn.dislike}"></span>
    </button>

    <button data-th-if="${reply AND isActive}"
            class="btn btn-sm btn-outline-primary" type="button"
            data-bs-toggle="modal" data-bs-target="#comment_form_modal"
            data-th-attrappend="data-bs-idparent=${post.getId()}">
        <i class="bi bi-reply"></i>
    </button>

    <button data-th-if="${isOwner AND isActive AND post.getPost_id() != post.id}"
            class="btn btn-sm btn-outline-danger" type="button"
            data-th-id="'btnDelete'+${post.id}"
            data-th-attrappend="data-idpost=${post.id}">
        <i class="bi bi-x"></i>
    </button>

</div>