<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments :: metadata(~{::title},~{::link})}">
    <title th:text="#{page.title.home}"></title>
    <link th:href="@{/css/home.css}" href="../static/css/home.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div th:replace="~{fragments :: header}"></div>

    <div class="container">

        <div class="row mb-5 sticky-top">
            <div class="col">
                <div class="card shadow">
                    <div class="card-body d-flex justify-content-around">
                        <div class="col-6" th:with="select=${#httpServletRequest.getParameter('sortBy')}">
                            <!-- Le plus haut score -->
                            <a id="btnSortScore" class="btn" href="#" type="button"
                               th:href="${@replaceOrAddParam.apply('sortBy', 'score')}"
                               th:classappend="${select eq 'score'} ? 'btn-primary' : 'btn-outline-primary'" th:inline="text">
                                <i class="bi bi-graph-up-arrow"></i>
                                <span th:text="#{home.btn.sort.top}"></span>
                            </a>
                            <!-- Le plus récent -->
                            <a id="btnSortTimestamp" class="btn" href="#" type="button"
                               th:href="${@replaceOrAddParam.apply('sortBy', 'timestamp')}"
                               th:classappend="${select eq 'timestamp'} ? 'btn-primary' : 'btn-outline-primary'"
                               th:inline="text">
                                <i class="bi bi-stars"></i>
                                <span th:text="#{home.btn.sort.recent}"></span>
                            </a>
                        </div>
                        <div class="col-2" th:with="select=${#httpServletRequest.getParameter('orderBy')}">
                            <a id="btnOrderAsc" class="btn" href="#" type="button" title="Tri ascendant"
                               th:href="${@replaceOrAddParam.apply('orderBy', 'asc')}"
                               th:classappend="${select eq 'asc'} ? 'btn-primary' : 'btn-outline-primary'">
                                <i class="bi bi-sort-up"></i>
                            </a>
                            <a id="btnOrderDesc" class="btn" href="#" type="button" title="Tri descendant"
                               th:href="${@replaceOrAddParam.apply('orderBy', 'desc')}"
                               th:classappend="${select eq 'desc'} ? 'btn-primary' : 'btn-outline-primary'">
                                <i class="bi bi-sort-down"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-5" th:insert="~{fragments :: subject}" th:with="subjects=${results.getPageList()}"></div>

        <!-- Exemples de redirection -->
        <a th:href="@{/(url='https://dev.java/learn/')}" th:text="#{home.link.extern}"></a>
        <a th:href="@{/(url='http://localhost:8080/home')}" th:text="#{home.link.intern}"></a>

        <nav th:if="${results.pageCount > 1}" aria-label="page navigation">
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${!results.isFirstPage()} ? '' : 'disabled'" >
                    <a class="page-link" th:href="${@replaceOrAddParam.apply('page', '0')}" th:text="#{home.btn.first}"></a>
                </li>

                <li class="page-item" th:classappend="${!results.isFirstPage()} ? '' : 'disabled'">
                    <a class="page-link" th:href="${@replaceOrAddIntParam.apply('page', __${results.getPage() - 1}__)}" th:text="#{home.btn.previous}"></a>
                </li>

                <li class="page-item" th:each="p : ${#numbers.sequence(results.getFirstLinkedPage(), results.getLastLinkedPage())}" th:classappend="${results.getPage() eq p} ? 'active' : ''">
                    <a class="page-link" th:href="${@replaceOrAddIntParam.apply('page', __${p}__)}" th:text="${p}"></a>
                </li>

                <li class="page-item" th:classappend="${!results.isLastPage()} ? '' : 'disabled'" >
                    <a class="page-link" th:href="${@replaceOrAddIntParam.apply('page', __${results.getPage() + 1}__)}" th:text="#{home.btn.next}"></a>
                </li>

                <li class="page-item" th:classappend="${!results.isLastPage()} ? '' : 'disabled'" >
                    <a class="page-link" th:href="${@replaceOrAddIntParam.apply('page', __${results.pageCount - 1}__)}" th:text="#{home.btn.last}"></a>
                </li>
            </ul>
        </nav>

    </div>

    <div th:replace="${#strings.isEmpty(#request.getRemoteUser())} ? ~{} : ~{fragments :: subject_form}"></div>

    <div th:replace="~{fragments :: footer}"></div>

    <script th:replace="~{fragments :: script}"></script>

</body>
</html>