<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments :: metadata(~{::title},~{})}">
    <title th:text="#{page.title.login}"></title>
</head>

<body class="text-center vh-100 d-flex align-items-center p-2 bg-light">

    <form action="#" th:action="@{/login}" method="post" class="w-25 p-2 m-auto">
        <a data-th-href="@{/home}" href="home.html">
            <img class="mb-4" th:src="@{/images/icon-reddit.png}" src="../static/images/icon-reddit.png" alt="Icone de Reddit" width="72" height="72">
        </a>
        <h1 class="h3 mb-3 fw-normal" th:text="#{login.h1}"></h1>

        <div th:if="${param.error}" th:text="#{login.error}" class="text-danger"></div>
        <div th:if="${param.logout}" th:text="#{login.logout}"></div>

        <div class="form-floating mb-3">
            <input type="text" name="username" id="username" placeholder="username" class="form-control"/>
            <label for="username" th:text="#{login.placeholder.username}"></label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" name="password" id="password" placeholder="password" class="form-control" />
            <label for="password" th:text="#{login.placeholder.password}"></label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit" th:text="#{login.btn.submit}"></button>
    </form>

    <script th:replace="~{fragments :: script}"></script>
</body>
</html>