<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments :: metadata(~{::title},~{})}">
    <title th:text="#{page.title.profile}"></title>
</head>

<body>

    <div th:replace="~{fragments :: header}"></div>

    <div class="container">
        <div class="row">
            <div class="col-9">
                <ul class="nav nav-tabs mb-3" role="tablist">

                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="sujet-tab" data-bs-toggle="tab" data-bs-target="#subject" type="button" role="tab" aria-controls="subject" aria-selected="true" th:text="#{home.link.subject}"></button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="comment-tab" data-bs-toggle="tab" data-bs-target="#comment" type="button" role="tab" aria-controls="comment" aria-selected="false" th:text="#{home.link.comments}"></button>
                    </li>

                </ul>

                <div class="tab-content" id="nav-tab-content">

                    <div class="tab-pane fade show active" id="subject" role="tabpanel" aria-labelledby="subject-tab">
                        <div class="row mb-3" th:insert="~{fragments :: subject}" th:with="subjects=${user.getSubjects()}"></div>
                    </div>

                    <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">

                        <div class="list-group pt-3">
                            <div class="list-group-item list-group-item-action shadow-sm" th:each="comment : ${user.getComments()}">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill ">
                                    <span class="badge"
                                          data-th-id="'post' + ${comment.getId()}"
                                          data-th-classappend="${comment.getScore() >= 0} ? 'bg-success' : 'bg-danger'"
                                          data-th-text="${comment.getScore()}">
                                    </span>
                                </span>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row justify-content-start">
                                        <i class="bi bi-chat-left me-2"></i>
                                        <p class="mb-0"><a th:href="@{/home/s/{subject}(subject = ${comment.getPost_id()})}" th:text="#{profile.comments.user}"></a></p>
                                    </div>
                                    <small class="text-muted" th:inline="text"> [[${comment.getElapsedTime()}]] </small>
                                </div>
                                <div data-th-id="'content_'+${comment.getId()}" class="mb-0 mt-1 border-top" th:utext="${comment.content}"></div>
                                <div class="mb-0 mt-1 border-top" data-th-replace="${#strings.isEmpty(#request.getRemoteUser())} ? ~{} : ~{fragments ::btn_score(${comment}, true, false, ${comment.state})}"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title" th:text="${user.username}"></div>
                        <div class="card-subtitle text-muted mb-2"><b th:text="#{profile.info.register} + ${#dates.format(user.getRegisterDate(), 'dd MMMM YYYY')}"></b></div>

                        <button th:if="${#request.getRemoteUser()} eq ${user.username}"
                           type="button"
                           class="btn btn-primary"
                           data-bs-toggle="modal"
                           data-bs-target="#modalPassword" th:text="#{profile.btn.updatePassword}"></button>

                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalPassword">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" th:text="#{profile.password.title}"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="mb-3">
                                <label th:replace="~{fragments :: form_label('password', #{profile.password.newpassword})}"></label>
                                <input type="password" id="password" minlength="3" maxlength="25"
                                       class="form-control form-control-lg" th:placeholder="#{profile.password.newpassword}"
                                       aria-describedby="passwordHelper" />
                                <div th:replace="~{fragments :: form_helper('password', #{profile.password.maxcharacter})}"></div>
                                <div id="passwordError" class="text-danger"></div>
                            </div>

                            <input type="hidden" id="username" th:value="${user.username}" />
                        </div>

                        <div class="modal-footer">
                            <button type="button" id="btnCloseSettings" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{profile.btn.password.close}"></button>
                            <button type="button" id="btnSubmitSettings" class="btn btn-primary" th:text="#{profile.btn.password.submit}"></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="${#strings.isEmpty(#request.getRemoteUser())} ? ~{} : ~{fragments :: subject_form}"></div>

    <div th:replace="~{fragments :: footer}"></div>

    <script th:replace="~{fragments :: script}"></script>

    <script>
        $('#btnSubmitSettings').click(function () {
            let username = $("#username").val();
            let password = $("#password").val();
            let data = {"username": username, "password": password};
            $.ajax({
                url: '/user/settings',
                type: 'PUT',
                async: true,
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(data),
                success: function () {
                    iziToast.show({
                        title: 'Mise à jour',
                        message: 'Votre mot de passe a bien été modifié.',
                        position: 'topRight',
                        color: 'green'
                    });

                    let myModalEl = $('#modalPassword');
                    let modal = bootstrap.Modal.getOrCreateInstance(myModalEl);
                    $('#passwordError').html('');
                    modal.hide();
                },
                error: function (error) {
                    $('#passwordError').html(error.responseJSON.errors.join('<br/>'));
                    iziToast.show({
                        title: 'Mise à jour',
                        message: 'Une erreur est survenue lors du traitement de votre demande. Votre mot de passe n\'a pas été modifié',
                        position: 'topRight',
                        color: 'red'
                    });
                }
            });
        });
    </script>
</body>
</html>