<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments :: metadata(~{::title},~{})}">
    <title th:text="#{page.title.registration}"></title>
</head>
</head>

<body class="text-center vh-100 d-flex align-items-center p-2 bg-light">

    <form action="#" th:action="@{/register}" th:object="${registerAttribute}" method="post" class="w-25 p-2 m-auto">
        <img class="mb-4" th:src="@{/images/icon-reddit.png}" src="../static/images/icon-reddit.png" alt="Reddit icon" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal" th:text="#{register.h1}"></h1>

        <div class="form-floating mb-3">
            <input type="text" th:field="*{username}" th:errorclass="is-invalid"
                   name="username" id="username" placeholder="username"
                   minlength="3"
                   maxlength="25"
                   class="form-control"  />

            <label for="username" th:text="#{register.placeholder.username}"></label>

            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></div>
        </div>

        <div class="form-floating mb-3">
            <input type="password" th:field="*{password}" th:errorclass="is-invalid"
                   name="password" id="password" placeholder="password"
                   minlength="5"
                   maxlength="25"
                   class="form-control"/>

            <label for="password" th:text="#{register.placeholder.password}"></label>

            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
        </div>

        <div class="form-floating mb-3">
            <input type="password" th:field="*{passwordConfirmation}" th:errorclass="is-invalid"
                   name="passwordConfirmation" id="passwordConfirmation" placeholder="password confirmation"
                   minlength="5"
                   maxlength="25"
                   class="form-control"/>

            <label for="passwordConfirmation" th:text="#{register.placeholder.passwordConfirmation}"></label>

            <div th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}" class="text-danger"></div>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit" th:text="#{register.btn.submit}"></button>
    </form>

    <script th:replace="~{fragments :: script}"></script>
</body>
</html>